* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}
:root {
  --border-radius: 8px;
  --primary-color: #000d44;

  --main-text-color: #ffff;
  --sub-text-color: rgba(255, 255, 255, 0.549);
}
#root {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: var(--primary-color);
}
html,
body {
  height: 100%;
  overflow: hidden;
  color: var(--main-text-color);
}
input {
  padding: 1em;
  margin-bottom: 1em;
}
input::placeholder {
  color: var(--sub-text-color);
}
.link,
button,
input {
  padding: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.309);
  border-radius: var(--border-radius);
  color: var(--main-text-color);
  font-size: 1em;
}
button {
  padding: 1em 1.2em;
}
.link:hover,
button:hover {
  background-color: rgba(255, 255, 255, 0.207);
}
.link {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
body {
  display: flex;
}
form {
  display: grid;
  min-width: 40vw;
  margin: auto;
}
main {
  /* display: flex; */

  margin: auto;
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: var(--border-radius);

  backdrop-filter: blur(16px);
}
dialog {
  display: fixed;
  width: clamp(40vw, 50vw, max-content);
  height: max-content;
  padding: 2em;
  isolation: isolate;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50vh;
  transition: 400ms;
  border-radius: var(--border-radius);
  border: none;
  transition: 400ms;
  background-color: var(--primary-color);
}

dialog::backdrop,
.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  cursor: zoom-out;
}
dialog[open] {
  margin-top: 0;
}

dialog .message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: var(--main-text-color);
}

dialog code {
  display: block;
  font-size: 16px;
  color: var(--sub-text-color);
}

dialog form {
  margin-top: 1em;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-width: 30vw;
  max-width: 400px;
  */
  max-height: 600px;
  overflow-y: auto;
}
.list__item {
  padding: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.042);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item .text {
  display: flex;
  flex-direction: column;
}

.list__item .actions {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
}
.list__item .action {
  background-color: rgba(255, 255, 255, 0.138);
  backdrop-filter: opacity(0.1);
  border-radius: 8px;
  font-size: 22px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}
.list__item .value {
  font-size: 22px;
  font-weight: 600;
}
.list__item .subtext {
  font-weight: 400;
  color: var(--sub-text-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30vw;
  padding-bottom: 0.4em;
}
.message {
  font-size: 28px;
  font-weight: normal;
  padding-left: 0.5em;
}
.btn--tertiary {
  background-color: #a9a9a915;
}
footer {
  padding-top: 1em;
}
